body {
   
    background-color:aliceblue;
    background-image:url("../Image/bg.jpg");
    background-repeat:no-repeat;
  
}
image{

    border-image-width:auto;
    border-image:round;

}

P{
    color:black;
    pADDING:20PX;
    text-align:left;
    text-align:match-parent
    
}

#header{

    COLOR:mediumvioletred;
    background-color:#6495ed;
    text-align: center;
}

.floatLeft{
    width: 60%;
    float: left;
}
.floatRight{
    width: 30%;
    float:right;
}