body {
   
    background-color:aliceblue;
  
}
image{

    border-image-width:auto;
    border-image:round;

}

P{
    color:black;
    pADDING:20PX;
    text-align:left;
    text-align:match-parent
    
}

#header{

    COLOR:mediumvioletred;
    background-color:#6495ed;
    text-align: center;
}